/* https://developers.google.com/fonts/docs/material_symbols#self-hosting_the_font */

@font-face {
	font-family: 'Material Symbols Outlined';
	font-style: normal;
	src: url(material-symbols.woff2);
}

/* Выделить пользовательский тег под значки */
icon {
	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
}

icon[big] {
	font-weight: 300;
	font-size: 72px;
}
