/* ================================= */
/* Правила для стандартных элементов */
/* ================================= */

body {
	font-family: sans-serif;
	font-size: 14px;
	margin: 0;
}

input, button, textarea {
	border: 1px solid #999;
	box-sizing: border-box;
	font-size: inherit;
	display: block;
}

input {
	width: 100%;
	height: 2rem;
	margin: .5rem 0rem;
}

button {
	padding: .25rem 1rem;
}

div {
	box-sizing: border-box;
}

img {
	width: 100%;
}

nav {
	width: 100%;
	height: 2rem;

	background-color: gainsboro;
}

textarea {
	width: 100%;
	height: 100%;

	background-color: inherit;
	border: 3px dashed gray;
	outline: none;

	resize: none;

	padding: .25rem;
}

textarea:focus {
	border: 3px dashed orangered;
}

main {
	display: grid;

	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

main > div {
	min-height: 100vh;
	max-width: 48rem;
	width: 100%;

	padding: 1rem;
	margin: 0 auto;

	background-color: gainsboro;

	grid-column: span 2;
}

/* ==================== */
/* Навигационная панель */
/* ==================== */

.panel {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: 2rem;

	max-width: 48rem;
	margin: 0 auto;

	position: relative;
}

.panel > * {
	line-height: 2rem;
}

.logo {
	font-size: 20px;
	cursor: pointer;
}

.button-strip > label {
	display: block;
	cursor: pointer;
	height: 100%;
	font-size: 14px;
	text-align: center;
}

.button-strip > label > div {
	display: inline-block;
}

.button-strip > label > div + div {
	background-color: #999;
	vertical-align: bottom;
	width: 2rem;
	height: 2rem;
	margin-left: .3rem;
}

/* ==================================== */
/* Кнопка + выпадающее меню авторизации */
/* ==================================== */

#auth-menu-toggle {
	display: none;
}

#auth-menu-toggle + .auth-menu {
	display: none;
}

#auth-menu-toggle:checked + .auth-menu {
	display: unset;
}

.auth-menu {
	position: absolute;
	top: 2rem;
	right: 0px;

	width: 24rem;

	background-color: #999;
	padding: 1rem;

	line-height: unset;
	z-index: 10;
}

.auth-menu > div {
	margin-bottom: 1rem;
}

.auth-menu > div:last-child {
	margin-bottom: unset;
}

.auth-menu > div > button {
	display: block;
	margin-left: auto;
}

/* =========================== */
/* Главная страница и карточки */
/* =========================== */

.front {
	display: grid;
	grid-template-columns: repeat(3, 14.666rem);
	grid-auto-rows: 14.666rem;
	gap: 1rem;
}

@media (max-width: 48rem) {
	.front {
		grid-template-columns: repeat(2, 14.666rem);
		width: 30.333rem;
	}
}

@media (max-width: 32.333rem) {
	.front {
		grid-template-columns: 1fr;
		width: 100%;
	}
}

.front > div {
	background-color: #999;
	padding: 0rem 1rem;
	overflow: hidden;
	position: relative;
	cursor: pointer;

	border-radius: 10px;
}

.front > div > .fade {
	background: linear-gradient(180deg, #FFF0 20%, #999 80%);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	right: 0px;
}

.front > div > .arrow {
	font-size: 30px;
	position: absolute;
	bottom: 0rem;
	right: 1.5rem;
}

/* ======== */
/* Редактор */
/* ======== */

.editor, .article {
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 1rem;
}

/* =============================== */
/* Элементы управления публикацией */
/* =============================== */

.controls {
	border: 3px dashed orange;
	display: grid;

	grid-template-columns: 1fr;
	grid-auto-flow: column;
	padding: .5rem;
	min-height: 3rem;
}

.controls div {
	margin: auto 0rem;
}

@media (max-width: 34rem) {
	.controls div {
		display: none;
	}
}

.controls button {
	background: none;
	border: none;
	padding: 0rem .5rem;
	cursor: pointer;
}

.controls button img {
	vertical-align: middle;
	margin: 0rem .2rem;
	width: 24px;
}

.controls button span {
	vertical-align: middle;
}

/* ============= */
/* Прочая логика */
/* ============= */

.hide {
	display: none;
}

.two-panel > .article {
	display: none;
}

@media (min-width: 48rem) {
	.two-panel > div {
		grid-column: unset;
	}

	.two-panel > .article {
		display: grid;
	}
}
